<html>

   <head>

      <style type="text/css">

         body {

            font-family: sans-serif;

         }

      </style>

   </head>

   <body>

      <h1>My PDF Wielding Application Title</h1>

 

      <%= yield %>

   </body>

</html>
