

  <head>

	  <title>show.html</title>
	  <%= yield :head %>
  </head>
  
<h1>Helloooo</h1>

<table>
	<tr>
		<td>sdsdfd</td>
		<td>sdsddsf</td>
	</tr>
	<tr>
		<td>sssssss</td>
		<td>tttttt</td>
	</tr>
</table>

